.about_hero {
  padding-top: 100px;
  padding-bottom: 30px;
  background: var(--color-background);

  &__content {
    display: flex;
    gap: 40px;
  }

  &__title {
    font-size: 30px;
    flex: 0 1 40%;
    align-self: center;

  }
  &__text {
    font-size: 18px;
    line-height: 1.5;
    flex: 0 1 60%;

  }
}
