.reviews {
  background: var(--color-background);
  padding-top: 30px;
  padding-bottom: 30px;
}
.reviews__title {
margin-bottom: 20px;
}
.reviews__list {
  all: unset;
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: auto;
  padding: 15px 0;
}
.reviews__item {
  justify-self: center;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  picture {
    width: 230px;
    max-height: 420px;
    img {
      object-fit: contain;
    }
  }
}
