<section class="about">
  <div class="container about__section">
    <h3 class="about__title-prev title">Приходите в наш магазин</h3>
    <div class="visibility-video video">
      <video muted class="video__item" src="./atoms.mp4"></video>
    </div>
    <div class="form__block">
      <h3 class="form__block_title title">Связаться с нами</h3>
      <form class="form">
        <div>
          <label for="name"></label>
          <input placeholder="Имя" type="text" id="name" name="name" required/>
        </div>
        <div>
          <label for="phone"></label>
          <input placeholder="Телефон" type="tel" id="phone" name="phone" required/>
        </div>

        <button type="submit">Отправить</button>
      </form>


      <!--      <div class="about__image">-->
      <!--        <picture>-->
      <!--          <source srcset="./img/sofa/crown/01.webp" type="image/webp" />-->
      <!--          <img-->
      <!--            loading="lazy"-->
      <!--            src="./img/sofa/crown/01.jpeg"-->
      <!--            class="image"-->
      <!--            alt="изображения"-->
      <!--          />-->
      <!--        </picture>-->
      <!--      </div>-->
      <!--      <div class="about__image">-->
      <!--        <picture>-->
      <!--          <source srcset="./img/sofa/crown/02.webp" type="image/webp" />-->
      <!--          <img-->
      <!--            loading="lazy"-->
      <!--            src="./img/sofa/crown/02.jpeg"-->
      <!--            class="image"-->
      <!--            alt="изображения"-->
      <!--          />-->
      <!--        </picture>-->
      <!--      </div>-->
    </div>
  </div>
</section>
