<section class="hero__about about_hero">
  <div class="container">
    <div class="about_hero__content">
      <h1 class="about_hero__title">Откройте двери к идеальному дому с нашей эксклюзивной мебелью</h1>
      <p class="about_hero__text">
        Приветствуем вас в мире стиля и комфорта, где каждая деталь мебели отражает ваш
        уникальный вкус.
        Ознакомьтесь с нашим каталогом и найдите идеальные решения для каждой комнаты вашего дома. Доверьтесь нам, чтобы
        создать атмосферу, которая отражает ваш индивидуальный стиль. Покупайте с удовольствием, создавайте с
        удовольствием!
      </p>
    </div>

  </div>
</section>
