<section class="see-also">
  <div class="container">
    <h3 class=" title">Смотрите также</h3>
    <div class="services__service service">
      <div class="service__card card-service">
        <div class="card-service__body">
          <div class="card-service__image">
            <a href="#"><img src="@img/servises/01.jpg" alt="gerl"></a>
            <p class="card-service__text">Визаж</p>
          </div>
          <p class="card-service__text-hover">Подробнее</p>
        </div>
      </div>
      <div class="service__card card-service">
        <div class="card-service__body">
          <div class="card-service__image">
            <a href="#"><img src="@img/servises/02.jpg" alt="gerl"></a>
            <p class="card-service__text">Ногтевой сервис</p>
          </div>

          <p class="card-service__text-hover">Подробнее</p>
        </div>
      </div>
      <div class="service__card card-service">
        <div class="card-service__body">
          <div class="card-service__image">
            <a href="#"><img src="@img/servises/03.jpg" alt="gerl"></a>
            <p class="card-service__text">Визаж</p>
          </div>

          <p class="card-service__text-hover">Подробнее</p>
        </div>
      </div>
      <div class="service__card card-service">
        <div class="card-service__body">
          <div class="card-service__image">
            <a href="#"><img src="@img/servises/04.jpg" alt="gerl"></a>
            <p class="card-service__text">Солярий</p>
          </div>

          <p class="card-service__text-hover">Подробнее</p>
        </div>
      </div>
    </div>
  </div>
</section>

